/* background-color */
.bg-dark-blue { background-color: $color-dark-blue; }
.bg-blue { background-color: $color-blue; }
.bg-neon-blue { background-color: $color-blue; }
.bg-light-grey { background-color: $color-light-grey; }
.bg-grey { background-color: $color-grey; }
.bg-orange { background-color: $color-orange; }
.bg-yellow { background-color: $color-yellow; }
.bg-offwhite { background-color: $color-offwhite; }
.bg-error { background-color: $color-error; }
.bg-success { background-color: $color-success; }
