// /* titles */
// h1, h2, h3, h4, h5 {
//   font-family: 'Montserrat', sans-serif;
//   font-weight: 700;
// }

// h1, h2, h3 {
//   font-style: italic;
// }

// h1 { font-size: $font-size-7; line-height: 35px; }
// h2 { font-size: $font-size-6; line-height: 30px; }
// h3 { font-size: $font-size-5; line-height: 26px; }
// h4 { font-size: $font-size-4; line-height: 21px; }
// h5 { font-size: $font-size-2; line-height: 15px; }

// /* text tags */
// p, a, td, li, input, textarea, label {
//   font-weight: 400;
//   font-family: 'Nunito', sans-serif;
//   line-height: 16px;
//   font-size: $font-size-2;
// }

// a, a:hover { text-decoration: none; }

// small {
//   font-family: 'Nunito', sans-serif;
//   font-size: $font-size-1;
// }

// /* font-size */
// .font-size-1 { font-size: $font-size-1; }
// .font-size-2 { font-size: $font-size-2; }
// .font-size-3 { font-size: $font-size-3; }
// .font-size-4 { font-size: $font-size-4; }
// .font-size-5 { font-size: $font-size-5; }
// .font-size-6 { font-size: $font-size-6; }

// /* font style & decoration */
// .bold { font-weight: bold; }
// .bolder { font-weight: bolder; }
// .uppercase { text-transform: uppercase; }
// .lowercase { text-transform: lowercase; }
// .capitalize { text-transform: capitalize; }
// .italic { font-style: italic; }
// .underline { text-decoration: underline; }

// .ellipsis {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

// /* text-alignment */
// .txt-center { text-align: center; }
// .txt-right { text-align: right; }
// .txt-left { text-align: left; }

// /* text-color */
// .txt-dark-blue { color: $color-dark-blue; }
// .txt-blue { color: $color-blue; }
// .txt-neon-blue { color: $color-neon-blue; }
// .txt-light-grey { color: $color-light-grey; }
// .txt-grey { color: $color-grey; }
// .txt-orange { color: $color-orange; }
// .txt-yellow { color: $color-yellow; }
// .txt-offwhite { color: $color-offwhite; }
// .txt-error { color: $color-error; }
// .txt-success { color: $color-success; }
