/* main colors */
$white: #FFFFFF;
$black: #000000;

/* colors variables */
$color-dark-blue: #0c1533;
$color-blue: #2eb5e4;
$color-light-blue: #EBEBEB;
$color-neon-blue: #3dffeb;
$color-light-grey: #d9d9d9;
$color-grey: #7b7979;
$color-grey-blue: #324158;
$color-orange: #f9a72b;
$color-yellow: #fbc234;
$color-offwhite: #fefefe;
$color-message-sent: #324158;
// status colors
$color-error: #f80077;
$color-success: #00c94d;

// brand colors
$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-linkedin: #0077b5;

/* shadows */
$shadow-landing: #7a7a7abc;
$shadow-landing-dark: #000000a2;